<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Added</title>
  </head>
  <body>
    <p>İşlem başarılı</p>
    <h1>Film başarıyla eklenmiştir.</h1>

    <h1>Eklenen Filmler</h1>
    <ul>
      {%for movie in movie_list%} {{movie.name}} - - ({{movie.year}}) - -
      {{movie.topic}}
      <br />
      {%endfor%}
    </ul>
    <a href="{% url 'movielogin' %}">Yeni Film Kaydet</a>
  </body>
</html>
